{% load static %}
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel">



    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">ExpensesTracker</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
        aria-label="Close"></button>
    </div>






    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">




        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-1 active" aria-current="page" href="{% url 'dashboard' %}">

            Dashboard
          </a>
        </li>




        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'expenses' %}">

            Expenses
          </a>
        </li>





        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'income' %}">
            Income
          </a>
        </li>






        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Summary</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>


        <!-- 
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
              <span>SUMMARY</span>
              
            </h6> -->






        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'stats'%}">
            Exspenses Summary
          </a>
        </li>





        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'incomeStats'%}">

            Income Summary
          </a>
        </li>



        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>SETTINGS</span>

        </h6>


        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{% url 'preferences' %}">

            Currencies
          </a>
        </li>




        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">

            Account
          </a>
        </li>


      </ul>
    </div>
  </div>
</div>