{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <h4>Password Reset Complete</h4>
                </div>
                <div class="password-reset-complete-message">
                    <p>Your password has been successfully reset. You can now log in with your new password.</p>
                </div>
                <form action="{% url 'login' %}" method="get">
                    <div class="text-left mt-4">
                        <input type="submit" value="Log in with your new password" class="btn btn-primary submit-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}