{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Income Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Summary
          </li>
        </ol>
      </nav>
    </div>
   

  </div>

 <div class="row">
<div class="col-md-6">
  <div class="col-md-6">
    <div class="col-md-8">
        <button  class="btn btn-primary">Income By Sources</button>
    </div>
  </div>


  <!-- Space for chart -->

  <canvas class="my-4 w-100" id="myChartForIncome" width="900" height="380"></canvas>
    </div>

    

    <div class="col-md-6">
      <div class="col-md-6">
        <div class="col-md-8">
            <button  class="btn btn-primary">Month Wise Income</button>
        </div>
      </div>

      <!-- remaining space after chart -->
      <canvas class="my-4 w-100" id="myChartForIncomeByDate" width="900" height="380"></canvas>

    </div>

 </div>
</div>

<script src="{% static 'js/incomeStats.js' %}"></script>
<script src="{% static 'js/incomeStatsDate.js' %}"></script>

</script>

{% endblock content %}
